<div class="Basic-socialLinks">
  <div class="mx-auto py4 max-width-1024px">
    <div class="df flex-wrap-wrap ml-16px mr-16px">
      <a class="pl3 pr3 pt2 pb2 inline-block bold text-decoration-none c-inherit" href="http://github.com/staringispolite"><img class="dib w-1em h-1em m0 fs4" src="https://icon.now.sh/github/111" width="1em" height="1em"></a>
      <a class="pl3 pr3 pt2 pb2 inline-block bold text-decoration-none c-inherit" href="http://twitter.com/staringispolite"><img class="dib w-1em h-1em m0 fs4" src="https://icon.now.sh/twitter/111" width="1em" height="1em"></a>
      <a class="pl3 pr3 pt2 pb2 inline-block bold text-decoration-none c-inherit" href="http://soundcloud.com/staringispolite"><img class="dib w-1em h-1em m0 fs4" src="https://icon.now.sh/soundcloud/111" width="1em" height="1em"></a>
      <a class="pl3 pr3 pt2 pb2 inline-block bold text-decoration-none c-inherit" href="http://medium.com/@staringispolite"><img class="dib w-1em h-1em m0 fs4" src="https://icon.now.sh/medium/111" width="1em" height="1em"></a>
      <a class="pl3 pr3 pt2 pb2 inline-block bold text-decoration-none c-inherit" href="http://instagram.com/staringispolite"><img class="dib w-1em h-1em m0 fs4" src="https://icon.now.sh/instagram/111" width="1em" height="1em"></a>
    </div>
  </div>
</div>
