<nav class="clearfix py2 c-black bg-white">
  <div class="mx-auto pl4 pr4 max-width-1024px">
    <div class="col">
      <a href="/ard/"><img src="/img/face.svg" style="height: 50px;"></a>
    </div>
    <div class="col-right">
      <a href="/ard/#projects" class="btn ml0 pl0 pr1 sm-pr2 sm-mr4 my3 inline-block bold text-decoration-none py2 c-inherit">Projects</a>
      <a href="/ard/#writing" class="btn sm-mr4 sm-ml4 pl1 pr1 sm-pl2 sm-pr1 my3 inline-block bold text-decoration-none py2 c-inherit">Writing</a>
      <a href="/ard/#art" class="btn pr0 pl1 sm-pl2 sm-ml4 my3 inline-block bold text-decoration-none py2 c-inherit">Art</a>
    </div>
  </div>
</nav>

