<nav class="clearfix py2 c-black bg-white">
  <div class="mx-auto pl4 pr4 max-width-1024px">
    <div class="col">
      <a href="/ard/"><img src="/img/face.svg" style="height: 50px;"></a>
    </div>
    <div class="col-right">
      <a href="/ard/#projects" class="btn my3 py2 ml0 pl0 pr1 xsm-pl0 xsm-pr2                               inline-block bold text-decoration-none c-inherit">Projects</a>
      <a href="/ard/#writing"  class="btn my3 py2     pl1 pr1 xsm-pl2 xsm-pr2 xsm-ml3 xsm-mr3 sm-ml4 sm-mr4 inline-block bold text-decoration-none c-inherit">Writing</a>
      <a href="/ard/#art"      class="btn my3 py2     pl1 pr0 xsm-pl2 xsm-pr0                        sm-mr4 inline-block bold text-decoration-none c-inherit">Art</a>
    </div>
  </div>
</nav>

