<nav class="clearfix py2 c-black bg-white">
  <div class="mx-auto pl4 pr4 max-width-1024px">
    <div class="justify-content-flex-end align-items-center df flex-wrap-wrap sm-col-right">
      <a href="#projects" class="btn mx3 sm-mr4 sm-ml4 my3 inline-block bold text-decoration-none py2 c-inherit">Projects</a>
      <a href="#writing" class="btn mx3 sm-mr4 sm-ml4 my3 inline-block bold text-decoration-none py2 c-inherit">Writing</a>
      <a href="#art" class="btn mx3 sm-mr4 sm-ml4 my3 inline-block bold text-decoration-none py2 c-inherit">Art</a>
    </div>
  </div>
</nav>

