{% assign baseURL = "http://jon.how" %}
{% assign displayURL = page.permalink %}
{% assign defaultTitle = "Jonathan Howard. Growth engineer and founder in San Francisco" %}
{% assign displayDescription = "I help startups grow, prototype, & learn from users." %}
{% capture urlPrefix %}{{ page.permalink | limit: 4 }}{%endcapture %}
{% if urlPrefix != "http" %}
  {% assign displayURL = baseURL | append: page.permalink %}
{% endif %}
{% if page.title == blank or page.title == nil %}
  {% assign displayTitle = defaultTitle %}
{% else %}
  {% assign displayTitle = page.title | append: " | " | append: defaultTitle %} 
{% endif %}
{% if page.ogdescription != blank and page.ogdescription != nil %}
  {% assign displayDescription = page.ogdescription %}
{% elsif page.excerpt != blank and page.excerpt != nil %}
  {% assign displayDescription = page.excerpt | remove: '<p>' | remove: '</p>' | remove: '<a>' | remove: '</a>' %}
{% elsif page.description != blank and page.description != nil %}
  {% assign displayDescription = page.description | remove: '<p>' | remove: '</p>' | remove: '<a>' | remove: '</a>'%}
{% endif %}
<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ displayTitle }}</title>
        <meta name="description" content="{{ displayDescription }}">
        <meta property="og:url" content="{{ displayURL }}" />
        <meta property="og:title" content="{{ displayTitle }}" />
        <meta property="og:description" content="{{ displayDescription }}" />
        <meta property="og:image" content="http://jon.how/img/face-line-drawing.jpg" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if page.url == "/404.html" %}
        <meta http-equiv="refresh" content="3; url=/ku">
        {% endif %}

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link href="https://unpkg.com/basscss@7.1.1/css/basscss.min.css" rel="stylesheet">
        <link href="/css/main.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,600|PT+Serif:700" rel="stylesheet">
        <style type="text/css">
          pre {
            position: relative;
          }
          pre:after {
            content: "“";
            position: absolute;
            top: -10px;
            left: 0;
            z-index: -1;
            font-size: 40px;
            color: silver;
          }
        </style>
    </head>
    <body class="x0">
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
        <!-- Add your site or application content here -->
        {% include header.html %}

        {{ content }}
        {% comment %}
        {% assign posts = site.posts | sort 'created_at' | reverse %}
        {% for post in posts %}
          <h1><a href="{{post.url}}">{{ post.title }}</a></h1>
        {% endfor %}
        {% endcomment %}

        {% include footer.html %}
        <!--
        <script src="https://code.jquery.com/jquery-{{JQUERY_VERSION}}.min.js" integrity="{{JQUERY_SRI_HASH}}" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-{{JQUERY_VERSION}}.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-97917715-1', 'auto');
          ga('send', 'pageview');

        </script>
    </body>
</html>

