---
layout: default
---
<header class="Basic-header pt5 pb3" id="projects">
  <div class="mauto pl4 pr4 max-width-1024px">
    <h2 class="longform-headline bbw-1px bbs-solid m0 pb1 fs3 sm-fs4 md-fs5 lh-1p125 fw-700">{{ page.title }}</h2>
    <h4 class="italic longform-headline mt1 mb3 fw-200 gray">{{ page.date | date: '%B %d, %Y' }}</h4>
  </div>
</header>
<section class="longform-content fs3 pt0 pb0 fw-100">
  <div class="mauto mx2 pl4 pr4 max-width-1024px">
    <div class="mauto pl4 pr4">
      {{ content }}
    </div>
  </div>
</section>

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
